<section class="flex flex-col justify-center max-w-6xl min-h-screen px-4 py-10 mx-auto sm:px-6">
    <div class="flex flex-wrap items-center justify-between mb-8">
      <h2 class="mr-10 text-4xl font-bold leading-none md:text-5xl">
        Welcome to my articles
      </h2>
  
      <input #categoryInput type="text" placeholder="Search by category..."
        (keyup.enter)="onSearch(categoryInput.value)" 
        (input)="onSearch(categoryInput.value)"
        class="w-full md:w-1/4 border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none my-4" />
    </div>
  
    <!-- Le conteneur principal des cartes -->
    <div class="flex flex-wrap justify-center gap-6 mt-10">
      <div *ngFor="let article of articles$ | async"
        class="w-80 flex flex-col">
  
        <div class="flex flex-col h-full bg-white border border-gray-300 rounded-lg overflow-hidden shadow-md">
          <img src="images/details-blog1.jpg" alt="Card img" class="object-cover object-center w-full h-48" />
          
          <div class="flex flex-col justify-between flex-grow p-6">
            <div>
              <span class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-blue-600 hover:text-blue-600">
                {{ article.category }}
              </span>
              <h2 class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-blue-600">
                {{ article.title }}
              </h2>
              <p class="mb-4 text-gray-700">
                {{ article.content | slice:0:100 }}...
              </p>
              <p class="text-sm text-gray-500 italic">By {{ article.writerName }}</p>
            </div>
  
            <div class="mt-6">
              <a [routerLink]="['/post-detail', article.id]" 
                class="inline-block text-base font-black text-blue-600 uppercase border-b-2 border-transparent hover:border-blue-600">
                Read More ->
              </a>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </section>
  