<!-- https://gist.github.com/goodreds/3579ddfffe439457b5ef9902b5336124 -->
<section class="flex flex-col justify-center max-w-6xl min-h-screen px-4 py-10 mx-auto sm:px-6">
    <div class="flex flex-wrap items-center justify-between mb-8">
        <h2 class="mr-10 text-4xl font-bold leading-none md:text-5xl">
            Continually Scale Results
        </h2>
        <a href="#"
            class="block pb-1 mt-2 text-base font-black text-blue-600 uppercase border-b border-transparent hover:border-blue-600">
            Go to insights ->
        </a>
    </div>

    <div class="flex flex-wrap -mx-4 mt-10">
        <div *ngFor="let article of articles$ | async" class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
          <div class="flex flex-col h-full bg-white border border-gray-300 rounded-lg overflow-hidden shadow-md">
            <!-- Image -->
            <img src="images/details-blog1.jpg" alt="Card img" class="object-cover object-center w-full h-48" />
            <!-- Contenu -->
            <div class="flex flex-col justify-between flex-grow p-6">
              <div>
                <span class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-blue-600 hover:text-blue-600">
                  {{ article.category }}
                </span>
                <h2 class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-blue-600">
                  {{ article.title }}
                </h2>
                <p class="mb-4 text-gray-700">
                  {{ article.content | slice:0:100 }}...
                </p>
                <p class="text-sm text-gray-500 italic">By {{ article.writerName }}</p>
              </div>
              <!-- Bouton en bas -->
              <div class="mt-6">
                <a routerLink="/post-detail"
                  class="inline-block text-base font-black text-blue-600 uppercase border-b-2 border-transparent hover:border-blue-600">
                  Read More ->
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
</section>
