<!--<main class="container mx-auto mt-8">
    <div *ngIf="article; else loading" class="flex flex-wrap justify-between">
        <div class="w-full md:w-8/12 px-4 mb-8">
            <img src="images/details-blog1.jpg" alt="Featured Image" class="w-full h-64 object-cover rounded">
            <h2 class="text-4xl font-bold mt-4 mb-2"> {{ article?.title }}</h2>
            <p class="text-gray-700 mb-4">By {{ article?.writerName }}</p>
            <p class="text-gray-700 mb-4">{{ article?.content | slice:0:100 }}</p>
            <p class="text-gray-700 mb-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="w-full md:w-4/12 px-4 mb-8">
            <div class="bg-gray-100 px-4 py-6 rounded">
                <h3 class="text-lg font-bold mb-2">Categorie</h3>
                <span class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-blue-600 hover:text-blue-600">
                    {{ article?.category }}
                  </span>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="text-center">Loading...</div>
      </ng-template>
</main>-->


<div *ngIf="article; else loading">
    <div class="max-w-4xl mx-auto p-8">
      <h1 class="text-4xl font-bold mb-4 mt-4">{{ article?.title }}</h1>
      <p class="text-gray-600 mb-2 mt-4">By {{ article?.writerName }} | Category: {{ article?.category }}</p>
      <img src="images/details-blog1.jpg" alt="Featured Image" class="w-full h-64 object-cover mt-4 rounded">     
       <p class="text-lg text-gray-800 mt-6 mb-4">
        {{ article?.content }}
      </p>
      <p class="text-gray-700 mt-4 mb-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
  
  <ng-template #loading>
    <div class="text-center">Loading...</div>
  </ng-template>

  



